# SPDX-FileCopyrightText: 2025 Florian Wilhelm
#
# SPDX-License-Identifier: MIT

name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/fwilhe2/go-libreoffice:latest
    strategy:
      fail-fast: false
      matrix:
        LANG:
          - de_DE.UTF-8
          - en_US.UTF-8
    env:
      LANG: ${{ matrix.LANG }}

    steps:
      - uses: actions/checkout@v6

      - name: date
        run: |
          date

      - name: env
        run: |
          env | grep LANG

      - run: libreoffice --headless --version

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

      - uses: fwilhe2/odfvalidator-action@main
